.course_id{
	color: blue;
	font-weight: bold;
}

h3{
	background-color:#b6d2ed; 
	color:#2a75bd;
	font-size:40px;
	width: 50%;
}
h2{
	background-color:#b6d2ed; 
	color:#2a75bd; 
	font-size :40px;
	width: 50%;
}
table{
	border-collapse: collapse;
}

.table_row_color{
	background-color: #d3d3d3;
}